<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="description" content="seezoo moreの病院用テンプレートです" />
<meta name="keywords" content="seezoo,seezoomore,病院" />
<title>音生総合病院</title>
<link href="css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
</head>
<!--[if lt IE 7]>
<style type="text/css">
img, div,li,input { behavior: url(/iepngfix.htc) }
</style>
<![endif]-->
<body>
<!--↓wrap↓-->
<div id="wrap">


<!--↓header↓-->
<div id="header">
	<h1><a href="#"><img src="images/logo.png" alt="音生総合病院" width="211" height="36" /></a></h1>
	<div class="tel">
		<img src="images/telimg.png" alt="000-0000　受付時間:午前9:00〜12:00 午後13:00〜17:00" width="253" height="38" />
	</div>
</div> 
<!--↑header↑-->

<!--↓navi↓-->
<div id="navi">
	<ul>
		<li><a href="#">ホーム</a></li>
		<li><a href="#">院長の挨拶</a></li>
		<li><a href="#">当院の特徴</a></li>
		<li><a href="#">診療内容</a></li>
		<li><a href="#">当院の概要</a></li>
		<li><a href="#">お問い合わせ</a></li>
	</ul>
</div>
<!--↑navi↑-->

<!--↓mainimg↓-->
<div id="main_img">
	<img src="images/main-img.png" alt="地域の皆様の支えとなる「安心・安全」な医療を提供します。" width="966" height="323" />
</div>
<!--↑mainimg↑-->


<!--↓leftcontents↓-->
<div class="tl_contents">
	<h2 class="item2">診療内容</h2>
	<ul>
		<li><a href="#">内科</a></li>
		<li><a href="#">外科</a></li>
		<li><a href="#">小児科</a></li>
		<li><a href="#">整形外科</a></li>
		<li><a href="#">産婦人科</a></li>
	</ul>
</div>
<!--↑leftcontents↑-->


<!--↓centercontents↓-->
<div class="tc_contents">
<h2 class="item1">診療時間</h2>
	<table>
		<tr>
			<th>診療時間</th>
			<td>月</td>
			<td>火</td>
			<td>水</td>
			<td>木</td>
			<td>金</td>
			<td class="saturday">土</td>
			<td class="sunday">日・祝</td>
		</tr>
		<tr>
			<th>午前&nbsp;9:00〜12:00</th>
			<td>○</td>
			<td>○</td>
			<td>○</td>
			<td>○</td>
			<td>○</td>
			<td>休</td>
			<td>休</td>
		</tr>
		<tr>
			<th>午後&nbsp;14:00〜17:00</th>
			<td>○</td>
			<td>×</td>
			<td>○</td>
			<td>○</td>
			<td>×</td>
			<td>休</td>
			<td>休</td>
		</tr>
	</table>
	
	<p class="caution">※年末年始・お盆はお休みをいただいております。</p>
	
	<h2 class="item3">お知らせ</h2>
		<dl>
			<dt>2011年7月26日</dt>
			<dd><a href="#">ここにテキストが入ります。ここにテキストが入ります。</a></dd>
			<dt>2011年7月26日</dt>
			<dd><a href="#">ここにテキストが入ります。ここにテキストが入ります。</a></dd>
			<dt>2011年7月26日</dt>
			<dd><a href="#">ここにテキストが入ります。ここにテキストが入ります。</a></dd>
		</dl>
	
	
	
</div>
<!--↑centercontents↑-->





<!--↓rightcontents↓-->
<div class="tr_contents">
	<h2 class="item4">当院の案内</h2>
		<img src="images/appearance.jpg" alt="音生総合病院外観" width="185" height="73" />
		<ul>
			<li>音生総合病院</li>
			<li>〒000-0000</li>
			<li>愛知県名古屋市中区金山32-1</li>
			<li>tel:000-0000-0000</li>
			<li>fax:000-0000-0000</li>
		</ul>
</div>
<!--↑rightcontents↑-->


<p class="pagetop">
<a href="#">ページの先頭へ</a>
</p>


<!--↓footer↓-->
<div id="footer">
	<ul>
		<li><a href="#">ホーム</a></li>
		<li><a href="#">院長の挨拶</a></li>
		<li><a href="#">当院の特徴</a></li>
		<li><a href="#">診療内容</a></li>
		<li><a href="#">当院の概要</a></li>
		<li><a href="#">お問い合わせ</a></li>
	</ul>
	<ul>
		<li><a href="#">リンク</a></li>
		<li><a href="#">リンク</a></li>
		<li><a href="#">リンク</a></li>
	</ul>
</div>
<!--↑footer↑-->

<address>
<img src="images/footerlogo.png" alt="音生総合病院" width="149" height="25" />&nbsp;&nbsp;〒000-0000&nbsp;&nbsp; 愛知県名古屋市中区金山32-1&nbsp;&nbsp;tel:000-0000-0000&nbsp;&nbsp;fax:000-0000-0000
</address>

<p id="copyright">Copyright &copy; 2011  All Rights Reserved.</p>

</div>
<!--↑wrap↑-->
</body>
</html>
