<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="description" content="seezoo moreの病院用テンプレートです" />
<meta name="keywords" content="seezoo,seezoomore,病院" />
<title>音生総合病院</title>
<link href="css/common.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!--↓wrap↓-->
<div id="wrap">


<!--↓header↓-->
<div id="header">
	<h1><a href="#"><img src="images/logo.png" alt="音生総合病院" width="211" height="36" /></a></h1>
	<div class="tel">
		<img src="images/telimg.png" alt="000-0000　受付時間:午前9:00〜12:00 午後13:00〜17:00" width="253" height="38" />
	</div>
</div> 
<!--↑header↑-->

<!--↓navi↓-->
<div id="navi">
	<ul>
		<li><a href="#">ホーム</a></li>
		<li><a href="#">院長の挨拶</a></li>
		<li><a href="#">当院の特徴</a></li>
		<li><a href="#">診療内容</a></li>
		<li><a href="#">当院の概要</a></li>
		<li><a href="#">お問い合わせ</a></li>
	</ul>
</div>
<!--↑navi↑-->


<!--↓ic_wrap↓-->
<div id="ic_wrap">


<div class="il_contents">


<h2 class="inner_heading">
院長の挨拶
</h2>


<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
<h6>h6</h6>

<ul>
<li>あいうえお</li>
<li>かきくけこ</li>
<li>さしすせそ</li>
</ul>

<p class="caution">※がついている箇所は必須項目です！</p>
<table>
	<tr>
		<th>お名前<span class="caution">※</span></th>
		<td><input type="text" size="20" name="name" value="" /></td>
	</tr>
	<tr>
		<th>フリガナ<span class="caution">※</span></th>
		<td><input type="text" size="20" name="name" value="" /></td>
	</tr>
	<tr>
		<th>メールアドレス<span class="caution">※</span></th>
		<td><input type="text" size="20" name="name" value="" /></td>
	</tr>
	<tr>
		<th>お問い合わせ内容</th>
		<td><textarea name="comment" rows="7" cols="35"></textarea>
</td>
	</tr>
</table>


<div class="sr_box">
<input class="submit" type="submit" value="送信する">
<input class="reset" type="reset" value="リセット">
</div>



</div>
<!--↑leftcontents↑-->


<!--↓rightcontents↓-->
<div class="ir_contents">
	<h2 class="item2">当院の案内</h2>
		<ul>
			<li><a href="#">リンク</a></li>
			<li><a href="#">リンク</a></li>
			<li><a href="#">リンク</a></li>
			<li><a href="#">リンク</a></li>
			<li><a href="#">リンク</a></li>
		</ul>
</div>
<!--↑rightcontents↑-->

</div>
<!--↑ic_wrap↑-->

<p class="pagetop">
<a href="#">ページの先頭へ</a>
</p>


<!--↓footer↓-->
<div id="footer">
	<ul>
		<li><a href="#">ホーム</a></li>
		<li><a href="#">院長の挨拶</a></li>
		<li><a href="#">当院の特徴</a></li>
		<li><a href="#">診療内容</a></li>
		<li><a href="#">当院の概要</a></li>
		<li><a href="#">お問い合わせ</a></li>
	</ul>
	<ul>
		<li><a href="#">リンク</a></li>
		<li><a href="#">リンク</a></li>
		<li><a href="#">リンク</a></li>
	</ul>
</div>
<!--↑footer↑-->

<address>
<img src="images/footerlogo.png" alt="音生総合病院" width="149" height="25" />&nbsp;&nbsp;〒000-0000&nbsp;&nbsp; 愛知県名古屋市中区金山32-1&nbsp;&nbsp;tel:000-0000-0000&nbsp;&nbsp;fax:000-0000-0000
</address>

<p id="copyright">Copyright &copy; 2011  All Rights Reserved.</p>

</div>
<!--↑wrap↑-->
</body>
</html>
